<nav>
  <a id="linkProducto" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Producto</a>
  <p></p>
  <span><a id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear producto</a></span>
  <span><a id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar producto</a></span>
  <span><a id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar producto</a></span>
</nav>
<router-outlet></router-outlet>